.paragraph {
	position: absolute;
	width: 1512px;
	height: 357px;
	left: 0px;
	top: 820px;
	z-index: 1;

	background: #7a8dc8;
	&_header {
		position: absolute;
		width: 1017px;
		height: 44px;
		left: 248px;
		top: 100px;
		font-family: "Inter";
		font-style: normal;
		font-weight: 600;
		font-size: 36px;
		line-height: 44px;
		text-align: center;
		color: #ffffff;
		z-index: 10;
	}
	&_p {
		position: absolute;
		width: 846px;
		height: 48px;
		left: 333px;
		top: 150px;
		font-family: "Inter";
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		color: #ffffff;
	}
}
