.bg1 {
	position: absolute;
	width: 1512px;
	height: 347px;
	left: -1px;
	top: 2940px;
	background: #7a8dc8;
}
.header2 {
	position: absolute;
	width: 1086px;
	height: 44px;
	left: 212px;
	top: 150px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #ffffff;
	background: #7a8dc8;
}
